/* GLOBAL CSS */
/* utk style masing - masing view, tolong gunakan section css pada pada folder yg sesuai view tersebut, kecuali header dan footer */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

.non-footer{
  min-height: calc(100vh - 60px);
}

footer {
  background: #f3f3f3;
  height: 60px;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.navigation-bar{
  top: 0px;
  z-index: 99;
  width: 100%;
  position: sticky !important;
}