/* GLOBAL CSS */
/* utk style masing - masing view, tolong gunakan section css pada pada folder yg sesuai view tersebut, kecuali header dan footer */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

footer {
  background: #f3f3f3;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}
